.piechart-legends ul {
    list-style: none;
    margin-left: 1.5rem;
    padding-left: 0;
}

.piechart-legends li {
    margin-bottom: 0.25rem;
    white-space: nowrap;
}
.piechart-legends span {
    display: inline-block;
    vertical-align: middle;
    border-radius: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
}
.piechart-legends-info li {
    margin-bottom: 0.25rem;
    white-space: nowrap;
}


.rtl .piechart-legends ul {
    list-style: none;
    margin-left: 0;
    margin-right: 1.5rem;
    padding-right: 0;
}
.rtl .piechart-legends span {
    margin-left: 0.5rem;
    margin-right: 0;
}
