.message-user {
    width: 8rem;
    white-space: nowrap;
    overflow: hidden;
}

.message-time {
  width: 4.5rem;
}



.message-item {
  flex: 0 0 auto !important;
}

.message-item:hover {
  z-index: 1;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}